.mathguard table {
	border:0 none;
}
.mathguard table td {
	padding:9px 0 0 0;
}
.mathguard pre {
	background:none;
	width: 65px;
	border:0 none;
	overflow: hidden;
}
.mathguard input {
	width:100% !important;
	margin:0;
}

.form-hkvwcontact {
	margin-bottom: 20px;
}